<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.vst.trc.controller,com.vst.trc.service.impl,
	com.vst.trc.dao,com.vst.trc.handler.impl" />
	<mvc:annotation-driven />

	<bean id="customerVO" class="com.vst.trc.model.CustomerVO">
		<property name="custID" value="cust1" />
		<property name="name" value="Mukeshwar Singh" />
		<property name="age" value="30" />
	</bean>
	
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/> 
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
	
	<bean name="/SwaggerAdminConfig" class="com.vst.trc.utils.SwaggerAdminConfig" />

</beans>